.container{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-top: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 95% !important;
        height: auto !important;
    }
}